n8n/workflows/B_metas_resumo-diario-comprador.json
{
  "name": "metas - resumo diario",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 8 * * 1-6" }
          ]
        }
      },
      "id": "schedule-08h",
      "name": "Schedule 08:00 seg-sáb",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1400, 200]
    },
    {
      "parameters": {
        "operation": "getAll",
        "collection": "users",
        "returnAll": true
      },
      "id": "firestore-users",
      "name": "Firestore: users",
      "type": "n8n-nodes-base.googleFirestore",
      "typeVersion": 1,
      "position": [-1200, 200],
      "credentials": {
        "googleFirestoreOAuth2Api": {
          "id": "TROCAR_PELO_ID_DA_SUA_CREDENCIAL_FIREBASE",
          "name": "Firebase Service Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Destinatários do agente metas:\n//   - diretor / supervisor / gerente\n//   - com 'metas' no array `agentes` (Firestore users)\n//   - com whatsapp válido\n// Preserva o campo `loja` (string \"todas\" ou array) — vai ser usado depois.\nreturn items\n  .map(it => ({\n    json: {\n      email_login: (it.json.id || it.json.email_login || '').toLowerCase(),\n      nome:        it.json.nome,\n      funcao:      it.json.funcao,\n      agentes:     it.json.agentes,\n      whatsapp:    String(it.json.whatsapp || '').trim(),\n      loja:        it.json.loja,   // preservado p/ o nó \"Resolver visibilidade\"\n    }\n  }))\n  .filter(it => {\n    const d = it.json;\n    return ['diretor', 'supervisor', 'gerente'].includes(d.funcao)\n      && Array.isArray(d.agentes) && d.agentes.includes('metas')\n      && d.whatsapp && d.whatsapp !== '0' && d.whatsapp.length > 5\n      && d.email_login;\n  });"
      },
      "id": "filter-destinatarios",
      "name": "Filtrar destinatários",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1000, 200]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "vw_metas_resumo_por_filial",
        "returnAll": true
      },
      "id": "supabase-resumo",
      "name": "Supabase: resumo (todas filiais)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-800, 200],
      "credentials": {
        "supabaseApi": {
          "id": "TROCAR_PELO_ID_DA_SUA_CREDENCIAL_SUPABASE",
          "name": "Supabase agentes"
        }
      },
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "// Cruza cada usuário (do nó 'Filtrar destinatários') com o resumo\n// completo do Supabase (do nó 'Supabase: resumo (todas filiais)').\n//\n// Regra de visibilidade (definida 2026-05-18): a fonte de verdade é\n// users/{email}.loja no Firestore.\n//   - \"todas\" (string ou item de array, case-insensitive) → wildcard (vê tudo)\n//   - array de strings ('305', '305 - ELETRO ...') → filtra por essas\n//   - vazio/ausente → não vê nada\n//\n// Sai: 1 item por usuário, com o resumo já filtrado pelas lojas dele.\nconst usuarios = $('Filtrar destinatários').all().map(it => it.json);\nconst resumoTodo = $('Supabase: resumo (todas filiais)').all().map(it => it.json);\n\nconst SENTINEL = 'todas';\nfunction extrai(raw) {\n  if (raw == null) return null;\n  const s = String(raw).trim();\n  if (!s) return null;\n  const m = s.match(/^(\\d+)/);\n  return m ? m[1] : s.toLowerCase();\n}\n\nfunction resolveLojas(lojaRaw) {\n  if (typeof lojaRaw === 'string' && lojaRaw.trim().toLowerCase() === SENTINEL) {\n    return { wildcard: true, filiais: [] };\n  }\n  const arr = Array.isArray(lojaRaw) ? lojaRaw : (lojaRaw == null || lojaRaw === '' ? [] : [lojaRaw]);\n  if (arr.some(x => String(x).trim().toLowerCase() === SENTINEL)) {\n    return { wildcard: true, filiais: [] };\n  }\n  const filiais = arr.map(extrai).filter(Boolean).filter((v, i, a) => a.indexOf(v) === i);\n  return { wildcard: false, filiais };\n}\n\nreturn usuarios.map(u => {\n  const { wildcard, filiais } = resolveLojas(u.loja);\n  const resumo = wildcard\n    ? resumoTodo\n    : resumoTodo.filter(r => filiais.includes(String(r.filial_cod)));\n  return {\n    json: {\n      email_login: u.email_login,\n      nome:        u.nome,\n      whatsapp:    u.whatsapp,\n      funcao:      u.funcao,\n      wildcard,\n      filiais,\n      resumo,\n    }\n  };\n});"
      },
      "id": "resolver-visibilidade",
      "name": "Resolver visibilidade",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-580, 200]
    },
    {
      "parameters": { "batchSize": 1, "options": {} },
      "id": "loop",
      "name": "Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-360, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "tem-risco",
              "leftValue": "={{ ($json.resumo || []).filter(r => r.loja_em_risco || r.setores_em_risco>0 || r.departamentos_em_risco>0 || r.secoes_em_risco>0).length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-tem-risco",
      "name": "Tem filial em risco?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-140, 200]
    },
    {
      "parameters": {
        "jsCode": "// Monta a mensagem do WhatsApp.\n//   - wildcard=true  → TOP 3 filiais piores por % atingido (diretor/supervisor)\n//   - wildcard=false → sua(s) filial(is) em risco (gerente)\nconst u = $input.first().json;\nconst nome = u.nome;\nconst wildcard = !!u.wildcard;\n\nfunction money(v) {\n  if (v == null) return '—';\n  return Number(v).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL', maximumFractionDigits: 0 });\n}\nfunction pct(v) {\n  if (v == null) return '—';\n  return Number(v).toFixed(0) + '%';\n}\nfunction recuperar(r) {\n  if (r.venda_para_recuperar_loja == null) return '';\n  const dias = r.dias_restantes_loja != null ? ` em ${r.dias_restantes_loja}d` : '';\n  return ` • precisa ${money(r.venda_para_recuperar_loja)}/dia${dias}`;\n}\n\nconst comRisco = (u.resumo || []).filter(r =>\n  r.loja_em_risco || r.setores_em_risco > 0 || r.departamentos_em_risco > 0 || r.secoes_em_risco > 0\n);\n\nlet message;\nif (wildcard) {\n  const top3 = [...comRisco]\n    .filter(r => r.percent_loja != null)\n    .sort((a, b) => Number(a.percent_loja) - Number(b.percent_loja))\n    .slice(0, 3);\n\n  const titulo = top3.length === 1 ? '1 filial em risco hoje:'\n               : top3.length === 2 ? '2 filiais em risco hoje:'\n               : 'TOP 3 filiais mais distantes da meta hoje:';\n\n  const linhas = top3.map((r, i) => {\n    const pos = ['1º','2º','3º'][i] || `${i+1}º`;\n    const bits = [`${pct(r.percent_loja)} atingido`, `tend. ${money(r.tendencia_loja)} / meta ${money(r.meta_loja_venda)}`];\n    const sub = [];\n    if (r.setores_em_risco > 0)       sub.push(`${r.setores_em_risco} setor(es)`);\n    if (r.departamentos_em_risco > 0) sub.push(`${r.departamentos_em_risco} dept(s)`);\n    if (r.secoes_em_risco > 0)        sub.push(`${r.secoes_em_risco} seç(ões)`);\n    if (sub.length) bits.push(sub.join(' • ') + ' em risco');\n    return `${pos} *${r.filial_cod}* — ${bits.join(' • ')}${recuperar(r)}`;\n  }).join('\\n');\n\n  message = `Olá, *${nome}*!\\n\\nAcompanhamento de *metas* — ${titulo}\\n\\n${linhas}\\n\\nAcesse: ${$env.APP_URL_METAS || 'http://margem.interno/agente/metas'}`;\n} else {\n  const linhas = comRisco.map(r => {\n    const bits = [];\n    bits.push(`Venda atual: ${money(r.venda_loja)}`);\n    bits.push(`Meta: ${money(r.meta_loja_venda)}`);\n    bits.push(`Tendência: ${money(r.tendencia_loja)} (${pct(r.percent_loja)} atingido)`);\n    if (r.venda_para_recuperar_loja != null) {\n      const dias = r.dias_restantes_loja != null ? ` (${r.dias_restantes_loja}d restantes)` : '';\n      bits.push(`Precisa vender ${money(r.venda_para_recuperar_loja)}/dia${dias} para recuperar`);\n    }\n    const sub = [];\n    if (r.setores_em_risco > 0)       sub.push(`${r.setores_em_risco} setor(es)`);\n    if (r.departamentos_em_risco > 0) sub.push(`${r.departamentos_em_risco} dept(s)`);\n    if (r.secoes_em_risco > 0)        sub.push(`${r.secoes_em_risco} seç(ões)`);\n    if (sub.length) bits.push(`⚠ ${sub.join(' • ')} em risco`);\n    return `*${r.filial_desc || r.filial_cod}*\\n   ` + bits.join('\\n   ');\n  }).join('\\n\\n');\n\n  message = `Olá, *${nome}*!\\n\\nAcompanhamento de *metas* — sua filial:\\n\\n${linhas}\\n\\nAcesse: ${$env.APP_URL_METAS || 'http://margem.interno/agente/metas'}`;\n}\n\nreturn [{\n  json: {\n    phone: u.whatsapp,\n    message,\n    email_login: u.email_login,\n  }\n}];"
      },
      "id": "build-message",
      "name": "Montar mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [80, 140]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.EVOLUTION_URL}}/message/sendText/{{$env.EVOLUTION_INSTANCE}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "apikey",        "value": "={{$env.EVOLUTION_KEY}}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.phone }}\",\n  \"text\":   \"{{ $json.message }}\"\n}",
        "options": {}
      },
      "id": "evolution-send",
      "name": "Evolution: enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, 140]
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "notificacoes_log",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "agente_id",       "fieldValue": "TROCAR_PELO_UUID_DO_AGENTE_METAS_NA_TABELA_agentes" },
            { "fieldId": "tipo",            "fieldValue": "resumo_diario" },
            { "fieldId": "canal",           "fieldValue": "whatsapp" },
            { "fieldId": "destino",         "fieldValue": "={{ $('Montar mensagem').item.json.phone }}" },
            { "fieldId": "sucesso",         "fieldValue": "={{ $json.statusCode == null || $json.statusCode < 400 }}" }
          ]
        }
      },
      "id": "log-notif",
      "name": "Log notificação",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [520, 140],
      "credentials": {
        "supabaseApi": {
          "id": "TROCAR_PELO_ID_DA_SUA_CREDENCIAL_SUPABASE",
          "name": "Supabase agentes"
        }
      }
    }
  ],
  "connections": {
    "Schedule 08:00 seg-sáb":             { "main": [[{ "node": "Firestore: users",                  "type": "main", "index": 0 }]] },
    "Firestore: users":                   { "main": [[{ "node": "Filtrar destinatários",             "type": "main", "index": 0 }]] },
    "Filtrar destinatários":              { "main": [[{ "node": "Supabase: resumo (todas filiais)",  "type": "main", "index": 0 }]] },
    "Supabase: resumo (todas filiais)":   { "main": [[{ "node": "Resolver visibilidade",             "type": "main", "index": 0 }]] },
    "Resolver visibilidade":              { "main": [[{ "node": "Loop",                              "type": "main", "index": 0 }]] },
    "Loop":                               { "main": [[{ "node": "Tem filial em risco?",              "type": "main", "index": 0 }]] },
    "Tem filial em risco?":               { "main": [
      [{ "node": "Montar mensagem", "type": "main", "index": 0 }],
      [{ "node": "Loop",            "type": "main", "index": 0 }]
    ]},
    "Montar mensagem":                    { "main": [[{ "node": "Evolution: enviar WhatsApp", "type": "main", "index": 0 }]] },
    "Evolution: enviar WhatsApp":         { "main": [[{ "node": "Log notificação",            "type": "main", "index": 0 }]] },
    "Log notificação":                    { "main": [[{ "node": "Loop",                       "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
